h1 { 
    color:blue;
}
h2 { 
    color:grey;
}

ul { 
    color:blue;
}
h2{ 
    font-family: 'Mali', cursive;
}
img {
    width:250px;
    height:300px;
}
h3 {
    color:grey;
}
h3 {
    font-family: 'Mali', cursive;
}
h4 {
    color:grey;
}
h4 {
    font-family: 'Mali', cursive;
}
html {
    background-image:url("https://vignette.wikia.nocookie.net/bangtanboys/images/5/53/Tumblr_p6m90zE3cW1s70o1po1_1280.jpg/revision/latest?cb=20180407164902");
}

